body {
    margin: 0px;
    padding: 0px;
    background-image: url(body-images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#body {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 75%;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #7800004f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 85px;
    width: 100%;
    background-image: url(body-images/black-pearl-granite-section.jpg);
}

#logo {
    display: flex;
    align-items: center;
}

#logo #firstpart {
    height: 80px;
}

#logo #secondpart {
    height: 50px;
    filter: invert(100);
}

#headerTitle {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
    text-align: center;
}

section {
    margin: 10px auto;
}

#filtersSwitch {
    justify-content: space-between;
    display: flex;
    background-color: rgba(0, 0, 0, 0.655);
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: wheat;
}

#filtersHideShow {
    margin: 6px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    filter: invert(100);
    transition: transform 0.1s;
}

#SectionHide {
    overflow: hidden;
}

#filtersAndSearch {
    background-color: rgba(0, 0, 0, 0.655);
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 3px 3px 5px red;
    font-size: medium;
    margin: 0px;
}

#filterLeft {
    border-right: 2px solid rgb(121, 0, 0);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftFilters {
    margin: 5px;
    display: inline-block;
}

#stars option {
    font-size: medium;
}

.leftFilters select {
    width: 120px;
}

#filterRight {
    border-left: 2px solid rgb(121, 0, 0);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filterResults {
    width: 85%;
}

.carResults {
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    display: none;
}

.carResults h2 {
    margin: 5px auto;
    width: 40%;
    background-color: #c6000099;
    border-radius: 10px;
}

.carDisplays {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carBoxes {
    width: 250px;
    height: 115px;
    margin: 5px;
    position: relative;
}

.car_name {
    background-color: #0000007b;
    width: 75%;
    font-size: x-small;
    font-weight: bold;
    text-align: left;
    padding: 3px;
    color: white;
}

.totalstars {
    background-color: #0000007b;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: x-large;
    color: black;
}

.actualstars {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: x-large;
    color: rgb(239, 237, 237);
}

.maxtrue {
    color: gold;
}

#userGuide {
    color: white;
}

#userGuide ul {
    padding-bottom: 10px;
}

#userGuide li {
    font-size: large;
    width: 70%;
    margin: 10px;
}

.blockTitle {
    display: flex;
    justify-content: space-between;
    background-color: #ff000085;
    color: white;
    border-radius: 10px;
    margin: 5px;
}

.carBlock {
    border: 1px solid white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 97%;
    margin: 0px auto;
}

.h4 {
    margin: 4px;
}

.arrow-image {
    margin: 6px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    filter: invert(100);
    transform: rotate(90deg);
    transition: transform 0.1s;
}

.class_headings {
    background-color: #0000009c;
    border: 2px solid #980000c7;
    border-radius: 15px;
    padding: 0px 10px;
    color: white;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.all_cars_box {
    background-color: rgba(177, 177, 177, 0.416);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
}

.car_info {
    margin: 10px 0px;
    width: 180px;
    height: 90px;
    position: relative;
}
@media screen and (max-width:320px) {
#searchbox {
    width: 90%;
}
.car_info {
    margin: 10px 0px;
    width: 160px;
    height: 70px;
    position: relative;
}
}
@media screen and (max-width:420px) {
    body {
        background-image: url("body-images/phone-background.png");
    }

    #body {
        width: 100%;
    }

    header {
        height: 11vw;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 657;
    }

    #logo #firstpart {
        height: 8vw;
        margin-left: 5px;
    }

    #logo #secondpart {
        height: 7vw;
    }

    #headertitlecontainer {
        width: 50%;
    }

    #headerTitle {
        width: 100%;
        font-size: 3.8vw;
    }

    #searchboxContainer {
        width: 80%;
    }

    #searchbox {
        margin: 5px;
    }

    #allFiltersContainer {
        margin-top: 11vw;
    }

    #filterRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #filterResults {
        width: 95%;
    }

    #userGuide ul {
        padding-left: 20px;
    }

    #userGuide li {
        width: 100%;
    }
    .car_info {
        margin: 10px 0px;
        width: 170px;
        height: 80px;
        position: relative;
    }
}
